<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BRRR SKRRRR PAA PAA</title>
</head>
<body>



<script>


    var x = 5.5;
    var y = 2;
    var z = 1.5;

    isBig();



    function isBig() {
        if(x > y){
            if(x > z){
                f("X er størst");
            }
        }


        if(x < z || y > z){
            f("Y er større end z")
        }
    }

    function f(str) {

        document.write("<h1>text: " + str + "</h1>");

    }


    function addTwo(num1, num2) {
     var result = num1 / num2;
     return result;
    }


    var result = addTwo(x, y);

    f(result);


</script>

</body>
</html>